body {
    background-color: #00CED1; /* бирюзовый цвет фона */
    font-family: Arial, sans-serif; /* установка шрифта */
  }
  
  h1, h2, h3 {
    color: #333; /* цвет заголовков сайта */
  }
  
  #header {
    background-color: #FFF; /* белый цвет фона для верхней части сайта */
  }
  
  #footer {
    background-color: #CCC; /* светло-серый цвет фона для нижней части сайта */
  }
  #product {
    background-color: #FFF; /* белый цвет фона для блока с продуктом */
  }
  
  #product img {
    border: 1px solid #CCC; /* серый цвет рамки для изображения продукта */
  }
  
  #product h4 {
    color: #333; /* цвет заголовка для блока с продуктом */
  }
  
  #product p {
    color: #666; /* цвет описания продукта */
  }    